.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.heading{
    animation: heading 4s linear infinite;
    font-weight: bold;
    font-size: 3rem;
}
@keyframes heading {
    0%{
        color: red;
    }
    25%{
        color: green;
    }
    50%{
        color: blue;
    }
    75%{
        color: yellow;
    }
    100%{
        color: red;
    }   
}
.input .inputData{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
}
.input .inputData input{
    padding: 0.3rem 0.8rem;
    border:  1px solid black;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

.input .inputData button{
    padding: 0.4rem 1rem;
    font-size: 1rem;
    border-radius: 0.8rem;
    font-weight: bold;
    border: 1px solid blue;
    color: white;
    background-color: blue;
}
.input .inputData button:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: blue;
}